.navigationbar{
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
}
.navigationbar-right{
    float: right;
}
.logo{
    padding-top: 4em;
    display: block;
    margin: auto;
    width: 50%;
}
.search-form{
    padding-top: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}